# IDE
.idea/
.vscode/
.junie/
nbproject/

# Build artifacts
.Build
!.Build/Web/.gitkeep
.cache
node_modules/

# Generated / local
composer.lock
.claude/
.composer/
Resources/Public/JavaScript/*.js.map
*.png
*.log
*.cache
.php-cs-fixer.cache

var/
Documentation-GENERATED-temp/
